<?xml version="1.0" encoding="ISO-8859-1"?>

<plugin xmlns="http://www.willuhn.de/schema/jameica-plugin"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://www.willuhn.de/schema/jameica-plugin http://www.willuhn.de/schema/jameica-plugin-1.0.xsd"
        name="syntax" version="1.3" class="de.willuhn.jameica.fibu.Fibu">

  <description>Finanzbuchhaltung für Jameica</description>
  <url>https://www.willuhn.de/products/syntax/releases/beta/syntax.zip</url>
  <homepage>http://www.willuhn.de/products/syntax</homepage>
  <license>proprietary</license>

  <requires jameica="1.8+"/>

  <classfinder>
    <include>syntax\.jar</include>
    <include>.*\.class</include>
  </classfinder>

  <menu>
    <item id="syntax.menu" name="SynTAX">
      <item enabled="false" name="Neue &amp;Buchung"        						shortcut="CTRL+B" action="de.willuhn.jameica.fibu.gui.action.BuchungNeu" />
	    <item enabled="false" name="Geschäftsjahr auswählen" 							shortcut="CTRL+G" action="de.willuhn.jameica.fibu.gui.action.GeschaeftsjahrChoose" />
      <item enabled="false" name="-" />
	    <item enabled="false" name="Mandanten" 														action="de.willuhn.jameica.fibu.gui.action.MandantListe" />
	    <item enabled="false" name="Finanzämter"  												action="de.willuhn.jameica.fibu.gui.action.FinanzamtListe" />
      <item enabled="false" name="&amp;Einstellungen"       						action="de.willuhn.jameica.fibu.gui.action.Einstellungen" />
    </item>
  </menu>

  <navigation>
	  <item enabled="false" id="syntax.navi" 									 name="SynTAX"					  icon-close="folder.png">
	    <item enabled="false" id="syntax.navi.buchungen" 			 name="Buchungen" 				icon-close="page.gif" action="de.willuhn.jameica.fibu.gui.action.BuchungListe" />
	    <item enabled="false" id="syntax.navi.konten" 				 name="Konten"    				icon-close="page.gif" action="de.willuhn.jameica.fibu.gui.action.KontoListe" />
	    <item enabled="false" id="syntax.navi.anfangsbestand"  name="Anfangsbestände"   icon-close="page.gif" action="de.willuhn.jameica.fibu.gui.action.AnfangsbestandListe" />
	    <item enabled="false" id="syntax.navi.anlagevermoegen" name="Anlagevermögen"    icon-close="page.gif" action="de.willuhn.jameica.fibu.gui.action.AnlagevermoegenListe" />
	    <item enabled="false" id="syntax.navi.auswertungen"    name="Auswertungen"   		icon-close="page.gif" action="de.willuhn.jameica.fibu.gui.action.Auswertungen" />
	  </item>
  </navigation>

  <services>
    <service name="database" depends=""         autostart="true" class="de.willuhn.jameica.fibu.rmi.DBService" />
    <service name="engine"   depends="database" autostart="true" class="de.willuhn.jameica.fibu.rmi.BuchungsEngine" />
  </services>
  
  <extensions>
    <!-- Hibiscus-Extensions -->
    <extension class="de.willuhn.jameica.fibu.ext.hibiscus.UmsatzListPart" extends="de.willuhn.jameica.hbci.gui.parts.UmsatzList"/>
    <extension class="de.willuhn.jameica.fibu.ext.hibiscus.UmsatzListMenu" extends="de.willuhn.jameica.hbci.gui.menus.UmsatzList"/>
    
    <!-- Jameica Compatibility Extensions -->
    <extension class="de.willuhn.jameica.fibu.ext.JameicaCompatibility"
               extends="de.willuhn.jameica.fibu.gui.part.BuchungList,de.willuhn.jameica.fibu.gui.part.KontoList"
    />
  </extensions>

</plugin>

