<?xml version="1.0" encoding="ISO-8859-1"?>

<plugin xmlns="http://www.willuhn.de/schema/jameica-plugin"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://www.willuhn.de/schema/jameica-plugin http://www.willuhn.de/schema/jameica-plugin-1.2.xsd"
        name="syntax" version="2.7.0-nightly" class="de.willuhn.jameica.fibu.Fibu">

  <description>Finanzbuchhaltung für Jameica</description>
  <url>https://www.willuhn.de/products/syntax/releases/nightly/syntax-2.7.0-nightly.zip</url>
  <homepage>http://www.willuhn.de/products/syntax</homepage>
  <license>GPL - http://www.gnu.org/copyleft/gpl.html</license>

  <requires jameica="2.6.0+">
    <import plugin="hibiscus" version="2.6.0+" required="false" />
  </requires>

  <classfinder>
    <include>syntax\.jar</include>
    <include>.*\.class</include>
  </classfinder>

  <menu>
    <item id="syntax.menu" name="SynTAX">
      <item id="syntax.menu.buchung"          enabled="false" name="Neue B&amp;uchung"        					shortcut="CTRL+U" icon="evolution-calendar.png" action="de.willuhn.jameica.fibu.gui.action.BuchungNeu" />
	    <item id="syntax.menu.geschaeftsjahre"  enabled="false" name="Geschäftsjahr auswählen" 						shortcut="CTRL+G" icon="document-open.png"      action="de.willuhn.jameica.fibu.gui.action.GeschaeftsjahrChoose" />
      <item name="-" />
	    <item id="syntax.menu.mandanten"        enabled="false" name="Mandanten" 													icon="system-users.png"        action="de.willuhn.jameica.fibu.gui.action.MandantListe" />
	    <item id="syntax.menu.finanzaemter"     enabled="false" name="Finanzämter"  											icon="emblem-shared.png"       action="de.willuhn.jameica.fibu.gui.action.FinanzamtListe" />
      <item id="syntax.menu.einstellungen"    enabled="false" name="&amp;Einstellungen"       					icon="document-properties.png" action="de.willuhn.jameica.fibu.gui.action.Einstellungen" />
    </item>
  </menu>

  <navigation>
	  <item enabled="false" id="syntax.navi" 									 name="SynTAX"					  icon-close="folder.png">
	    <item enabled="false" id="syntax.navi.buchungen" 			 name="Buchungen" 				icon-close="evolution-calendar.png" action="de.willuhn.jameica.fibu.gui.action.BuchungListe" />
	    <item enabled="false" id="syntax.navi.konten" 				 name="Konten"    				icon-close="gtk-dnd-multiple.png" action="de.willuhn.jameica.fibu.gui.action.KontoListe" />
	    <item enabled="false" id="syntax.navi.anfangsbestand"  name="Anfangsbestände"   icon-close="emblem-package.png" action="de.willuhn.jameica.fibu.gui.action.AnfangsbestandListe" />
	    <item enabled="false" id="syntax.navi.anlagevermoegen" name="Anlagevermögen"    icon-close="system-file-manager.png" action="de.willuhn.jameica.fibu.gui.action.AnlagevermoegenListe" />
	    <item enabled="false" id="syntax.navi.auswertungen"    name="Auswertungen"   		icon-close="gnome-finance.png" action="de.willuhn.jameica.fibu.gui.action.Auswertungen" />
	  </item>
  </navigation>

  <services>
    <service name="database" depends=""         autostart="true" class="de.willuhn.jameica.fibu.rmi.DBService" />
    <service name="engine"   depends="database" autostart="true" class="de.willuhn.jameica.fibu.rmi.BuchungsEngine" />
  </services>
  
  <extensions>
    <!-- Hibiscus-Extensions -->
    <extension class="de.willuhn.jameica.fibu.ext.hibiscus.UmsatzListPart"   extends="de.willuhn.jameica.hbci.gui.parts.UmsatzList" requires="hibiscus" />
    <extension class="de.willuhn.jameica.fibu.ext.hibiscus.UmsatzListMenu"   extends="de.willuhn.jameica.hbci.gui.menus.UmsatzList" requires="hibiscus"/>
    <extension class="de.willuhn.jameica.fibu.ext.hibiscus.Buchungstemplate" extends="de.willuhn.jameica.fibu.gui.views.BuchungstemplateNeu" requires="hibiscus"/>
  </extensions>

</plugin>

