#set($eur = $!{mandant.Waehrung})
#set($ablagevermoegen = $!{export.getObjects("anlagevermoegen")})

$math.reset("anschaffungskosten")
$math.reset("anfangsbestand")
$math.reset("afa")
$math.reset("restwert")

<table class="data">
  <tr>
    <th>Bezeichnung</th>
    <th>Anschaffungsdatum</th>
    <th style="text-align:right">Anschaffungskosten</th>
    <th style="text-align:right">Nutzungsdauer</th>
    <th style="text-align:right">Anfangsbestand</th>
    <th style="text-align:right">Abschreibungen</th>
    <th style="text-align:right">Restwert</th>
  </tr>

  #foreach($av in $anlagevermoegen)

  #end

</table>