#set($anlagevermoegen = $!{export.getObjects("anlagevermoegen")})

$math.reset("anschaffungskosten")
$math.reset("anfangsbestand")
$math.reset("jahresabschreibung")
$math.reset("restwert")

<table class="data">
  <tr>
    <th>Bezeichnung</th>
    <th>Anschaffungsdatum</th>
    <th style="text-align:right">Anschaffungskosten</th>
    <th style="text-align:right">Nutzungsdauer (in Jahren)</th>
    <th style="text-align:right">Anfangsbestand</th>
    <th style="text-align:right">Jahres-AfA</th>
    <th style="text-align:right">Restwert</th>
  </tr>

  #foreach($av in $anlagevermoegen)
    #set($anschaffungskosten = $av.Anschaffungskosten)
    #set($anfangsbestand     = $av.getAnfangsbestand(${jahr}))
    #set($jahresabschreibung = $av.getJahresAbschreibung(${jahr}))
    #set($restwert           = $av.getRestwert(${jahr}))

    $math.add("anschaffungskosten",${anschaffungskosten})
    $math.add("anfangsbestand",${anfangsbestand})
    $math.add("jahresabschreibung",${jahresabschreibung})
    $math.add("restwert",${restwert})

    <tr class="content">
      <td>$!{av.Name}</td>
      <td>$!{dateformat.format(${av.Anschaffungsdatum})}</td>
      <td style="text-align:right">$!{decimalformat.format(${anschaffungskosten})}&nbsp;${eur}</td>
      <td style="text-align:right">$!{av.Nutzungsdauer}</td>
      <td style="text-align:right">$!{decimalformat.format(${anfangsbestand})}&nbsp;${eur}</td>
      <td style="text-align:right">$!{decimalformat.format(${jahresabschreibung})}&nbsp;${eur}</td>
      <td style="text-align:right">$!{decimalformat.format(${restwert})}&nbsp;${eur}</td>
    </tr>
  #end

	<tr>
    <td colspan="7" style="border-top:1px solid #000000;">&nbsp;</td>
  </tr>

  <tr>
    <th colspan="2">Summen:</th>
    <th style="text-align:right;white-space:nowrap;">$!{decimalformat.format($math.get("anschaffungskosten"))}&nbsp;${eur}</th>
    <th>&nbsp;</th>
    <th style="text-align:right;white-space:nowrap;">$!{decimalformat.format($math.get("anfangsbestand"))}&nbsp;${eur}</th>
    <th style="text-align:right;white-space:nowrap;">$!{decimalformat.format($math.get("jahresabschreibung"))}&nbsp;${eur}</th>
    <th style="text-align:right;white-space:nowrap;">$!{decimalformat.format($math.get("restwert"))}&nbsp;${eur}</th>
  </tr>

 	<tr>
    <td colspan="7" style="border-top:2px solid #000000;">&nbsp;</td>
  </tr>

</table>