#set($anlagevermoegen = $!{export.getObjects("anlagevermoegen")})

$math.reset("anschaffungskosten")
$math.reset("anfangsbestand")
$math.reset("jahresabschreibung")
$math.reset("restwert")

<table class="data">
  <tr>
    <th>Bezeichnung</th>
    <th>Anschaffungsdatum</th>
    <th style="text-align:right">Anschaffungskosten</th>
    <th style="text-align:right">Nutzungsdauer (in Jahren)</th>
    <th style="text-align:right">Anfangsbestand</th>
    <th style="text-align:right">Jahres-AfA</th>
    <th style="text-align:right">Restwert</th>
  </tr>

  #foreach($av in $anlagevermoegen)
    #set($anschaffungskosten = $av.Anschaffungskosten)
    #set($anfangsbestand     = $av.getAnfangsbestand(${jahr}))
    #set($jahresabschreibung = $av.getJahresAbschreibung(${jahr}))
    #set($restwert           = $av.getRestwert(${jahr}))

    $math.add("anschaffungskosten",${anschaffungskosten})
    $math.add("anfangsbestand",${anfangsbestand})
    $math.add("jahresabschreibung",${jahresabschreibung})
    $math.add("restwert",${restwert})

    <tr>
      <td>$!{av.Name}</td>
      <td>$!{dateformat.format(${av.Anschaffungsdatum})}</td>
      <td style="text-align:right">$!{decimalformat.format(${anschaffungskosten})} ${eur}</td>
      <td style="text-align:right">$!{av.Nutzungsdauer}</td>
      <td style="text-align:right">$!{decimalformat.format(${anfangsbestand})} ${eur}</td>
      <td style="text-align:right">$!{decimalformat.format(${jahresabschreibung})} ${eur}</td>
      <td style="text-align:right">$!{decimalformat.format(${restwert})} ${eur}</td>
    </tr>

  #end

  <tr>
    <td colspan="2" style="border-top:1px solid #000000">Summen:</td>
    <td style="border-top:1px solid #000000;text-align:right">$!{decimalformat.format($math.get("anschaffungskosten"))} ${eur}</td>
    <td style="border-top:1px solid #000000">&nbsp;</td>
    <td style="border-top:1px solid #000000;text-align:right">$!{decimalformat.format($math.get("anfangsbestand"))} ${eur}</td>
    <td style="border-top:1px solid #000000;text-align:right">$!{decimalformat.format($math.get("jahresabschreibung"))} ${eur}</td>
    <td style="border-top:1px solid #000000;text-align:right">$!{decimalformat.format($math.get("restwert"))} ${eur}</td>
  </tr>

</table>