#set($buchungen        = $!{export.getObjects("buchungen")})
#set($anfangsbestaende = $!{export.getObjects("anfangsbestaende")})
#set($count            = 0)

$math.reset("netto")
$math.reset("steuer")
$math.reset("brutto")

<table class="data">
  <tr>
    <th>Datum</th>
    <th style="text-align:right">Beleg</th>
    <th>Konto</th>
    <th>Geprüft?</th>
    <th>Buchungstext</th>
    <th style="text-align:right">Netto</th>
    <th style="text-align:right">Steuer</th>
    <th style="text-align:right">Brutto</th>
    <th>Gegenkonto</th>
  </tr>

  #foreach($ab in $anfangsbestaende)
    #set($betrag = $ab.Betrag)
    #set($konto  = $ab.Konto)
    #set($count  = $count + 1)
    <tr>
      <td>$!{dateformat.format(${jahr.Beginn})}</td>
      <td style="text-align:right">&nbsp;</td>
      <td>$!{konto.Kontonummer}</td>
      <td>&nbsp;</td>
      <td style="width:70%">Anfangsbestands-Buchung</td>
      <td class="nowrap" style="text-align:right">$!{decimalformat.format(${betrag})} ${eur}</td>
      <td style="text-align:right">&nbsp;</td>
      <td class="nowrap" style="text-align:right">$!{decimalformat.format(${betrag})} ${eur}</td>
      <td>&nbsp;</td>
  
      $math.add("netto",${betrag})
      $math.add("brutto",${betrag})
    </tr>
  #end

  #foreach($buchung in $buchungen)
    #set($netto  = $buchung.Betrag)
    #set($brutto = $buchung.BruttoBetrag)
    #set($steuer = $brutto - $netto)
    #set($konto  = $buchung.SollKonto)
    #set($gegen  = $buchung.HabenKonto)
    #set($count  = $count + 1)
    <tr>
      <td>$!{dateformat.format(${buchung.Datum})}</td>
      <td style="text-align:right">$!{buchung.Belegnummer}</td>
      <td>$!{konto.Kontonummer}</td>
      <td>#if ($buchung.isGeprueft())Ja#end</td>
      <td style="width:70%">$!{buchung.Text}</td>
      <td class="nowrap" style="text-align:right">$!{decimalformat.format(${netto})} ${eur}</td>
      <td class="nowrap" style="text-align:right">$!{decimalformat.format(${steuer})} ${eur}</td>
      <td class="nowrap" style="text-align:right">$!{decimalformat.format(${brutto})} ${eur}</td>
      <td>$!{gegen.Kontonummer}</td>
  
      $math.add("netto",${netto})
      $math.add("steuer",${steuer})
      $math.add("brutto",${brutto})
    </tr>
  #end

	<tr>
    <td colspan="9" style="border-top:1px solid #000000;">&nbsp;</td>
  </tr>

  <tr>
    <th colspan="3" style="white-space:nowrap;">Buchungen gesamt: ${count}</th>
    <th>&nbsp;</th>
    <th>Summen:</th>
    <th class="nowrap" style="text-align:right;white-space:nowrap;">$!{decimalformat.format($math.get("netto"))} ${eur}</th>
    <th class="nowrap" style="text-align:right;white-space:nowrap;">$!{decimalformat.format($math.get("steuer"))} ${eur}</th>
    <th class="nowrap" style="text-align:right;white-space:nowrap;">$!{decimalformat.format($math.get("brutto"))} ${eur}</th>
    <th>&nbsp;</th>
  </tr>

 	<tr>
    <td colspan="9" style="border-top:2px solid #000000;">&nbsp;</td>
  </tr>

</table>
