#set($konten = $!{export.getObjects("konten")})

#foreach($konto in $konten)

  $math.reset("soll")
  $math.reset("haben")

  <table>
    <tr>
      <td>
        <b><u>Konto:</u> $!{konto.Kontonummer} - $!{konto.Name}</b>
      </td>
      <td>
        <b><u>Kontoart:</u> $!{konto.KontoArt.Name}
      </td>
    </tr>
  </table>

  <table class="data">
    <tr>
      <th>Datum</th>
      <th style="text-align:right">Beleg</th>
      <th>Buchungstext</th>
      <th style="text-align:right">Soll</th>
      <th style="text-align:right">Haben</th>
      <th style="text-align:right">Steuer</th>
      <th>Gegenkonto</th>
    </tr>

    #set($buchungen = $!{export.getObjects("buchungen.${konto.Kontonummer}")})
    #foreach($buchung in $buchungen)

      #set($brutto  = $buchung.Betrag)
      #set($netto   = $math.netto($brutto,$buchung.Steuer))
      <tr>
        <td>$!{dateformat.format(${buchung.Datum})}</td>
        <td style="text-align:right">$!{buchung.Belegnummer}</td>
        <td style="width:70%">$!{buchung.Text}</td>

        #set($gegen = $buchung.SollKonto)
        #if ($gegen.Kontonummer == $konto.Kontonummer)
          <td style="text-align:right">$!{decimalformat.format(${netto})} ${eur}</td>
          <td>&nbsp;</td>
          #set($gegen = $buchung.HabenKonto)
          $math.add("soll",${netto})
        #else
          <td>&nbsp;</td>
          <td style="text-align:right">$!{decimalformat.format(${netto})} ${eur}</td>
          $math.add("haben",${netto})
        #end
        <td style="text-align:right">$!{decimalformat.format($buchung.Steuer)} %</td>
        <td>$!{gegen.Kontonummer} [$!{gegen.Name}]</td>
      </tr>
    #end

    <tr>
      <td colspan="3" style="border-top:1px solid #000000">Gesamt:</td>
      <td style="border-top:1px solid #000000;text-align:right">$!{decimalformat.format($math.get("soll"))} ${eur}</td>
      <td style="border-top:1px solid #000000;text-align:right">$!{decimalformat.format($math.get("haben"))} ${eur}</td>
      <td colspan="2">&nbsp;</td>
    </tr>
  </table>
  $math.subtract("haben",$math.get("soll"))

	<br/>
	<table>
		<tr>
		  <td>Summe der Umsätze:</td>
      <td style="text-align:right">$!{decimalformat.format($math.get("haben"))} ${eur}</td>
		</tr>
		#set($anfangsbestand = "")
    #set($anfangsbestand = $!{konto.getAnfangsbestand(${jahr}).getBetrag()})
    #set($ab = $!{anfangsbestand.toString()})
    #if($ab != "")
      $math.add("haben",${anfangsbestand})
	    <tr>
	      <td>+ Anfangsbestand:</td>
        <td style="text-align:right">$!{decimalformat.format($anfangsbestand)} ${eur}</td>
      </tr>
    #end
		<tr>
		  <td style="border-top:1px solid #000000;border-bottom:2px solid #000000">Neuer Kontostand:</td>
      <td style="border-top:1px solid #000000;border-bottom:2px solid #000000;text-align:right"><b>$!{decimalformat.format($math.get("haben"))} ${eur}</b></td>
		</tr>
  </table>

  <br/><br/><br/>

#end
