#set($konten = $!{export.getObjects("konten")})

#set($start = $!{export.getObjects("start")})
#set($end = $!{export.getObjects("end")})

#if($start)
  #if($end)
    <h2>Zeitraum: $!{dateformat.format(${start})} - $!{dateformat.format(${end})}</h2>
    <br/>
  #end
#end

#foreach($konto in $konten)

  $math.reset("soll")
  $math.reset("haben")

  <table>
    <tr>
      <td>
        <b><u>Konto:</u> $!{konto.Kontonummer} - $!{konto.Name}</b>
      </td>
      <td>
        <b><u>Kontoart:</u> $!{konto.KontoArt.Name}
      </td>
    </tr>
  </table>

  <table class="data">
    <tr>
      <th>Datum</th>
      <th style="text-align:right">Beleg</th>
      <th>Buchungstext</th>
      <th style="text-align:right">Soll</th>
      <th style="text-align:right">Haben</th>
      <th style="text-align:right">Steuer</th>
      <th>Gegenkonto</th>
    </tr>

    #parse("kontoauszug.$!{konto.KontoArt.Name}.vm")

    <tr>
      <td colspan="3" style="border-top:1px solid #000000">Gesamt:</td>
      <td style="border-top:1px solid #000000;text-align:right">$!{decimalformat.format($math.get("soll"))} ${eur}</td>
      <td style="border-top:1px solid #000000;text-align:right">$!{decimalformat.format($math.get("haben"))} ${eur}</td>
      <td colspan="2" style="border-top:1px solid #000000">&nbsp;</td>
    </tr>
  </table>

  <br/>
  <table>

    #set($anfangsbestand = "")
    #set($anfangsbestand = $!{konto.getAnfangsbestand(${jahr}).getBetrag()})
    #set($ab = $!{anfangsbestand.toString()})

    $math.reset("oldsaldo")
    $math.add("oldsaldo",$konto.getUmsatzBefore($start))

    #if($ab != "")
      $math.add("oldsaldo",${anfangsbestand})
      $math.add("umsatz",${anfangsbestand})
      <tr>
        <td style="color:#909090">Anfangsbestand (zum $!{dateformat.format(${jahr.Beginn})}):</td>
        <td style="color:#909090;text-align:right">$!{decimalformat.format($anfangsbestand)} ${eur}</td>
      </tr>
    #end

    <tr>
      <td>Alter Kontostand (zum $!{dateformat.format(${start})}):</td>
      <td style="text-align:right">$!{decimalformat.format($math.get("oldsaldo"))} ${eur}</td>
    </tr>
    <tr>
      <td>Summe der Umsätze:</td>
      <td style="text-align:right">$!{decimalformat.format($math.get("umsatz"))} ${eur}</td>
    </tr>

    <tr>
      <td style="border-top:1px solid #000000;border-bottom:2px solid #000000">Neuer Kontostand (zum $!{dateformat.format(${end})}):</td>
      <td style="border-top:1px solid #000000;border-bottom:2px solid #000000;text-align:right;white-space:nowrap;"><b>$!{decimalformat.format($math.get("umsatz"))} ${eur}</b></td>
    </tr>
  </table>

  <br/><br/><br/>

#end
