#set($konten = $!{export.getObjects("konten")})

<table class="data">
  <tr>
    <th>Konto-Nr.</th>
    <th>Konto-Bezeichnung</th>
    <th style="text-align:right">Anfangsbestand</th>
    <th style="text-align:right">Umsatz</th>
    <th style="text-align:right">Saldo</th>
  </tr>

  #foreach($konto in $konten)
    <tr>
      <td>$!{konto.Kontonummer}</td>
      <td>$!{konto.Name}</td>
      #if($konto.getAnfangsbestand(${jahr}))
        #set($ab = $konto.getAnfangsbestand(${jahr}))
        <td style="text-align:right">$!{decimalformat.format(${ab.Betrag})}&nbsp;${eur}</td>
      #else
        <td>&nbsp;</td>
      #end
       
      <td style="text-align:right;white-space:nowrap;">$!{decimalformat.format(${konto.getUmsatz(${jahr})})}&nbsp;${eur}</td>
      <td style="text-align:right;white-space:nowrap;">$!{decimalformat.format(${konto.getSaldo(${jahr})})}&nbsp;${eur}</td>
    </tr>
	#end
	<tr>
      <td colspan="5" style="border-top:1px solid #000000;border-bottom:2px solid #000000">Ende der Summen- und Saldenliste</td>
	</tr>
</table>
