#set($konten = $!{export.getObjects("konten")})

<table class="data">
  <tr>
    <th>Konto-Nr.</th>
    <th>Konto-Bezeichnung</th>
    <th style="text-align:right">Anfangsbestand</th>
    <th style="text-align:right">Umsatz</th>
    <th style="text-align:right">Saldo</th>
  </tr>

  #foreach($konto in $konten)
    <tr>
      <td>$!{konto.Kontonummer}</td>
      <td>$!{konto.Name}</td>
      #set($ab = $konto.getAnfangsbestand(${jahr}))
      #if($ab)
        <td style="text-align:right">$!{decimalformat.format(${ab.Betrag})} ${eur}</td>
      #else
        <td>&nbsp;</td>
      #end
       
      <td style="text-align:right">$!{decimalformat.format(${konto.getUmsatz(${jahr})})} ${eur}</td>
      <td style="text-align:right">$!{decimalformat.format(${konto.getSaldo(${jahr})})} ${eur}</td>
    </tr>
	#end
	<tr>
	  <td colspan="5" style="border-top:1px solid #000000;">&nbsp;</td>
	</tr>
</table>
