<!-- created with $!{version} //-->
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=$!{charset}" />
    <title>$!{name}</title>
  </head>
  <style>
    body  {
      background-color        : #ffffff;
      background-attachment   : fixed;
      color                   : #000000;
      margin-left             : 10px;
      margin-right            : 10px;
      margin-top              : 10px;
      margin-bottom           : 0px;
    }

    p,h1,h2,h3,h4,ul,ol,li,div,td,th,address,blockquote,nobr,b,i {
      font-family              : Sans, Arial, Tahoma, Verdana, Helvetica;
      color                    : #000000;
      font-size                : 9pt;
    }

    table {
      width                    : 100%;
    }
    th {
      text-align               : left;
      vertical-align           : top;
    }
    td {
      text-align               : left;
      vertical-align           : top;
    }

    table.data {
      width                    : 100%;
      border-top               : 1px solid #000000;
    }
    table.data th {
      font-weight              : bold;
      border-bottom            : 1px solid #000000;
    }
    table.data td.nowrap {
      font-size                : 8pt;
      white-space              : nowrap;
    }
    table.data td {
      font-size                : 9pt;
    }


    table.data tr.content td {
      border-bottom            : 1px dashed #bebebe;
    }

    ol,ul {
      list-style-position      : outside;
    }

    ul {
      list-style-type          : disk;
      margin-top               : 0px;
      margin-bottom            : 0px;
    }

    h1 {
      font-weight              : bold;
      font-size                : 11pt;
      margin-top               : 1px;
      margin-bottom            : 1px;
    }

    h2 {
      font-weight              : bold;
      font-size                : 10pt;
      margin-top               : 1px;
      margin-bottom            : 3px;
    }

    h3 {
      font-weight              : bold;
      font-size                : 9pt;
      margin-top               : 5px;
      margin-bottom            : 0px;
    }

  </style>
  <body>

  #set($jahr    = ${export.getObjects("jahr")})
  #set($mandant = ${jahr.Mandant})
  #set($eur     = ${mandant.Waehrung})

  <table>
    <tr>
      <td>
        <h1>$!{name}</h1>
        Gesch&auml;ftsjahr: $!{dateformat.format(${jahr.Beginn})} - $!{dateformat.format(${jahr.Ende})}
      </td>
      <td style="text-align:right;">
      	Druck: $!{longdateformat.format(${datum})}
      </td>
    </tr>
  </table>

  <table>
    <tr>
      <td>
        $!{mandant.Name1} $!{mandant.Name2}
        <br/>
        $!{mandant.Firma}
        <br/>
        $!{mandant.Strasse}
        <br/>
        $!{mandant.PLZ} $!{mandant.Ort}
      </td>
      <td>
        Steuer-Nr.: $!{mandant.Steuernummer}
        <br/>
        Finanzamt: $!{mandant.Finanzamt.Name}
      </td>
    </tr>
  </table>
  
  <br/><br/>

  #parse($export.Template)

  </body>
</html>
