<html>
  <style>
    body  {
      background-color        : #ffffff;
      background-attachment   : fixed;
      color                   : #000000;
      margin-left             : 10px;
      margin-right            : 10px;
      margin-top              : 10px;
      margin-bottom           : 0px;
    }

    p,h1,h2,h3,h4,ul,ol,li,div,td,th,address,blockquote,nobr,b,i {
      font-family              : Verdana, Helvetica, Arial;
      color                    : #000000;
      font-size                : 8pt;
    }

    table {
      width                    : 100%;
    }
    th {
      text-align               : left;
      vertical-align           : top;
    }
    td {
      text-align               : left;
      vertical-align           : top;
    }

    table.data {
      width                    : 100%;
      border-top               : 1px solid #000000;
    }
    table.data th {
      font-weight              : bold;
      border-bottom            : 1px solid #000000;
    }
    table.data td {
      font-size                : 7pt;
      white-space              : nowrap;
    }

    ol,ul {
      list-style-position      : outside;
    }

    ul {
      list-style-type          : disk;
      margin-top               : 0px;
      margin-bottom            : 0px;
    }

    h1 {
      font-weight              : bold;
      font-size                : 11pt;
      margin-top               : 1px;
      margin-bottom            : 1px;
    }

    h2 {
      font-weight              : bold;
      font-size                : 8pt;
      margin-top               : 1px;
      margin-bottom            : 3px;
    }

    h3 {
      font-weight              : normal;
      font-size                : 7pt;
      margin-top               : 5px;
      margin-bottom            : 0px;
    }

    div.comment {
      margin-top               : 4px;
      margin-bottom            : 4px;
      padding-left             : 4px;
      padding-top              : 2px;
      border                   : 1px solid #E0E0E0;
      font-size                : 7pt;
      color                    : #707070;
    }

    div.box {
      margin-top               : 4px;
      margin-bottom            : 4px;
      padding-left             : 4px;
      padding-top              : 2px;
      border                   : 1px solid #E0E0E0;
      color                    : #404040;
    }

    pre {
      margin-top               : 4px;
      margin-bottom            : 4px;
      padding                  : 4px;
      border                   : 1px solid #E0E0E0;
      font-family              : BitStream Vera Sans Mono, Terminal [DEC], Courier New, Courier;
      font-size                : 8pt;
      color                    : #505050;
    }

    select,input,textarea,file {
      font-family             : Verdana, Helvetica, Arial;
      background-color        : #ffffff;
      border-style            : none;
      border                   : solid 1px #909090;
      font-size               : 8pt;
    }

    a:link  {
      color                    : #000088;
      text-decoration          : none;
    }

    a:visited  {
      color                    : #808080;
      text-decoration          : none;
    }

    a:hover {
      color                    : #0000dd;
      text-decoration          : none;
    }

    a:active {
      color                    : #0000dd;
      text-decoration          : none;
    }

    a:focus {
      color                    : #0000dd;
      text-decoration          : none;
    }
  </style>
  <body>

  #set($mandant = $jahr.Mandant)
  <table>
    <tr>
      <td>
        <h1>$!{export.Title}</h1>
        Geschäftsjahr: $!{dateformat.format(${jahr.Beginn})} - $!{dateformat.format(${jahr.Ende})}
      </td>
      <td style="text-align:right;">Druck: $!{longdateformat.format(${datum})}</td>
    </tr>
  </table>

  <table>
    <tr>
      <td>
        <b>
          $!{mandant.Name1} $!{mandant.Name2}
          <br/>
          $!{mandant.Firma}
          <br/>
          $!{mandant.Strasse}
          <br/>
          $!{mandant.PLZ} $!{mandant.Ort}
        </b>
      </td>
      <td>
        <b>Steuer-Nr.:</b> $!{mandant.Steuernummer}
        <br/>
        <b>Finanzamt:</b> $!{mandant.Finanzamt.Name}
      </td>
    </tr>
    <tr>
  </table>
  
  <br/><br/>

  #parse($export.Template)

  </body>
</html>
